<section class="footer">
    <h1>About Us</h1>
    <p>Welcome to Park Camelot, your ultimate destination for fun, excitement, and 
        unforgettable memories! Nestled in the heart of Madrid, our park offers 
        a wide variety of thrilling rides, family-friendly attractions, and live 
        entertainment for visitors of all ages. Whether you're seeking high-speed 
        roller coasters, magical parades, or relaxing scenic tours, Park Camelot 
        has something for everyone.</p>
    <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-instagram"></i>
    </div>
    <p>Juan Quiceno</p>
    <p>&copy; 2024 Camelot Park Park</p>
</section>

<script>
var b=document.getElementById("menu-block");
function hide()
{
    b.style.right="-200px";
    b.style.transition="1s";
}
function show()
{
    b.style.right="0";
    b.style.transition="1s";
}
</script>
</body>
</html>