
<nav id="main-nav">

    <a href="/"> <img class="logoClass" src="images/Camelot_logo.webp" alt="logo images" style="height: 160px; width: 195px;" /> </a>
    <div class="menu" id="menu-block">
        <i class="fa fa-times" onclick="hide()"></i>
       <ul>
         <li><a href="/">Home</a></li>  
         <li><a href="/about">About Us</a></li> 
         <% if (typeof isIndexPage !== 'undefined' && isIndexPage) { %>
          <li><a href="#themes">Themes</a></li> 
        <% } %>
         <li><a href="/events">Events</a></li> 
         <li><a href="/attractions">Attractions</a></li> 
         <li><a href="/faq">FAQ</a></li> 
         <li><a href="/contact">Contact</a></li> 
         
       </ul>
    </div>

<i class="fa fa-bars"  onclick="show()"></i>
</nav>