<%- include('partials/_header') %>
<section class="header2">
    <%- include('partials/_navbar') %>
<i class="fa fa-bars" onclick="show()"></i>
<div class="text-box">
    <h1>About US</h1>
</div>
</section>

<section  class="pictures events-details">

    <main>
       
        <div class="details">
            <h2>Greatnight</h2>
            <p >These are some pictures of our festival Events</p>
        </div>   
         </main>


</section>
<%- include('partials/_footer') %>

