<%- include('partials/_header') %>
    <section class="header2">
        <%- include('partials/_navbar') %>
    <div class="text-box">
        <h1>See All the Rides</h1>
        <h2>Our  opening times Monday to Sunday: 9:00 AM - 7:00 PM April-October </h2>
        <h3>Summer Time Only</h3>
        <div class="colors">
            <button class="c1" onclick="set_color(164, 240, 240)"></button>
            <button class="c2" onclick="set_color(100, 83, 104)"></button>
            <button class="c3" onclick="set_color(255, 255, 255)"></button>
        </div>
    </div>
    </section>

       <section class="pictures">
        <h1 class="heading1">Our Most Famuse Rides</h1>
        <p class="para">See pictures of our our attractions</p>
        <div class="row">
            <div class="col">
                <img src="images/attraction4.jpg" alt="">
                <div class="layer">
                    <h3>Apocalypse</h3>
                </div>   
            </div>

            <div class="col">
                <img src="images/attraction5.webp" alt="">  
                <div class="layer">
                    <h3>The Rocket</h3>
                </div>  
            </div>

            <div class="col">
                <img src="images/attraction6.jpg.webp" alt=""> 
                <div class="layer">
                    <h3>The Cavern</h3>
                </div>   
            </div>
        </div>

    </section>

    <section class="pictures events-details">
        <div class="row">
            <div class="col">
                <div class="details">
                    <h3>Apocalypse</h3>
                    <p>For the stand up and stand up floorless experiences, the gondolas tilt 15 degrees forwards as they rise up the tower, leaving riders in no doubt about just how high up they are travelling. No wonder then, that Apocalypse has been described as Britain's scariest ride.</p>
                    <button>Click for more details</button>
                </div>   
            </div>

            <div class="col">
                <div class="details">
                    <h3>The Rocket</h3>
                    <p>At the top of the tower you’ll be so high up that you will hear the wind whistling by. And best of all, you will have a perfectly clear view of the city of Madrid. We recommend leaving your fears behind. This is a unique European attraction only for the bravest heroes. Be brave and give it a go!</p>
                    <button>Click for more details</button>
                </div>   
            </div>

            <div class="col">
                <div class="details">
                    <h3>The Cavern</h3>
                    <p>The intriguing subterranean world of the Devil’s Arse awaits. Our professional guides will walk you through the system, re telling the history of the Peak Cavern rope makers. An hour long tour, witnessing how rope was made for lead miners and the fascinating folklore of the Victorian tour guides. Find out how and why the cave got its unusual name.</p>
                    <button>Click for more details</button>
                </div>   
            </div>
        </div>

    </section>
     <%- include('partials/_footer') %>
