<%- include('partials/_header') %>
    <section class="header2">
        <%- include('partials/_navbar') %>

      
       <i class="fa fa-bars" onclick="show()"></i>
    <div class="text-box">
        <h1>Frequently Asked Questions</h1>
        <h2>Our  opening times Monday to Sunday: 9:00 AM - 7:00 PM April-October </h2>
        <h3>Summer Time Only</h3>
    </div>
    </section>
    <main>
    <section class="faq">

        
            <details open>
              <summary>How ro cancel my tickets?</summary>
              <div class="faq_content">
                <p>You can cancel your tickets 72 hours before the day of use it</p>
              </div>
            </details>
          
              <details>
              <summary>How to rebook my tickets?</summary>
              <div class="faq_content">
                <p>Whether you can change your ticket, or receive a refund, depends on the type of ticket you have bought and where you bought it  Alternatively, you can contact the online retailer that you bought your ticket from..</p>
              </div>
            </details>

            <details>
              <summary>What are the park's operating hours?</summary>
              <div class="faq_content">
                <p>Park hours vary by season and day. Check the park’s official website or mobile app for the most up-to-date schedule.</p>
              </div>
            </details>

            <details>
              <summary>Are there height or age restrictions for rides?</summary>
              <div class="faq_content">
                <p>    Yes, many rides have height and age restrictions for safety reasons. Check the park’s website or signage near each attraction for specific requirements.</p>
              </div>
            </details>

            <details>
              <summary>Are there lockers available?</summary>
              <div class="faq_content">
                <p>Yes, many parks have locker rentals for storing personal belongings. Prices and locations vary, so check the map or ask guest services.</p>
              </div>
            </details>
            
            



    </section>
  </main>
    <%- include('partials/_footer') %>
   

   

