<%- include('partials/_header') %>
    <section class="header2">
        <%- include('partials/_navbar') %>
    <div class="text-box">
        <h1>Events Coming Up</h1>
        <div class="colors">
            <button class="c1" onclick="set_color(164, 240, 240)"></button>
            <button class="c2" onclick="set_color(100, 83, 104)"></button>
            <button class="c3" onclick="set_color(255, 255, 255)"></button>
        </div>
    </div>
    </section>

       <section class="pictures">
        <h1 class="heading1">Ongoing Festival Events</h1>
        <p class="para">These are some pictures of our festival Events</p>
        <div class="row">
            <div class="col">
                <img src="images/guests1.jpg" alt="">
                <div class="layer">
                    <h3>Supernight</h3>
                </div>   
            </div>

            <div class="col">
                <img src="images/guests2.jpg" alt="">  
                <div class="layer">
                    <h3>Brightnight</h3>
                </div>  
            </div>

            <div class="col">
                <img src="images/guests3.jpg" alt=""> 
                <div class="layer">
                    <h3>Greatnight</h3>
                </div>   
            </div>
        </div>

    </section>

    <section class="pictures events-details">
        <div class="row">
            <div class="col">
                <div class="details">
                    <h3>Supernight</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio laudantium nam culpa vero? Libero, praesentium est totam, quisquam illum, at consequatur ipsum vero laboriosam incidunt pariatur accusamus odit itaque?</p>
                    <button>Click for more details</button>
                </div>   
            </div>

            <div class="col">
                <div class="details">
                    <h3>Supernight</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio laudantium nam culpa vero? Libero, praesentium est totam, quisquam illum, at consequatur ipsum vero laboriosam incidunt pariatur accusamus odit itaque?</p>
                    <button>Click for more details</button>
                </div>   
            </div>

            <div class="col">
                <div class="details">
                    <h3>Supernight</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio laudantium nam culpa vero? Libero, praesentium est totam, quisquam illum, at consequatur ipsum vero laboriosam incidunt pariatur accusamus odit itaque?</p>
                    <button>Click for more details</button>
                </div>   
            </div>
        </div>

    </section>
     <%- include('partials/_footer') %>
