<%- include('partials/_header') %>

    <section class="header">        
        <%- include('partials/_navbar') %>

       
    <div class="text-box">
        <h1>Welcome to Camelot</h1>
        <p>One Epic Aventure</p>
        <a href="#" class="btn1">Click here to Know More</a>
    </div>
    </section>

    <section class="park">
        <h1>This Summer in Camelot</h1>
        <p>Check out our latest attractions that will make you scream. </p>
        <div class="row">
            <div class="col">
                <h3>Attractions</h3>
                <p>Make new memories by going on all of our attractions.</p>
            </div>

            <div class="col">
                <h3>Event in Stratford</h3>
                <p>Check out our latest attractions coming up in this Year.</p>
            </div>

            <div class="col">
                <h3>Event in Bank</h3>
                <p>Don't miss out our weekly promotions.</p>
            </div>
        </div>
    </section>

    
    <section class="pictures">
        <h1>Ongoing Festival Events</h1>
        <p>These are some pictures of our festival Events</p>
        <div class="row">
            <div class="col">
                <img src="images/attraction1.jpg" alt="">
                <div class="layer">
                    <h3>Superday</h3>
                </div>   
            </div>

            <div class="col">
                <img src="images/attraction2.jpg" alt="">  
                <div class="layer">
                    <h3>Special Weekend</h3>
                </div>  
            </div>

            <div class="col">
                <img src="images/attraction3.jpg" alt=""> 
                <div class="layer">
                    <h3>Every Week</h3>
                </div>   
            </div>
        </div>

    </section>

    <section class="testimonials">
        <h1>What Peoples says </h1>
        <p>Check out what peoples says about Camelot.</p>
        <div class="row">
            <div class="testimonials-col">
                <img src="images/reviewer1.JPG" alt="">
                <div>
                <p>The weekend was so crowdly we can't enjoy properly.</p>
                <h3>Reviewer 1</h3>
                <i class="fa fa-star"></i>
             </div>
            </div>

            <div class="testimonials-col">
                <img src="images/reviewer2.JPG" alt="">
                <div>
                <p>The new attraction was a the best ride ever.</p>
                <h3>Reviewer 2</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </div>

            
            </div>
        </div>
        <div class="testimonials-col">
            <img src="images/reviewer3.jpg" alt="">
            <div>
            <p>Spetch less Galactica was amazin.</p>
            <h3>Reviewer 3</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            </div>

        
        </div>
        </div>

    </section>

    <section class="cta">
        <h1>Sign up to our news letter!</h1>
        <a href="" class="btn1">Contact Us</a>
    </section>
    <%- include('partials/_footer') %>

    
