<%- include('partials/_header') %>

    <section class="header">  
        
                  
        <%- include('partials/_navbar') %>
          
    <div class="text-box">
        <h2>Parque Camelot</h2>
        <h1>In  october the meze runner</h1>
        <p>Our  opening times Monday to Sunday: 9:00 AM - 7:00 PM April-October</p>
        <a href="#" class="btn1">Online Tickets Click here</a>
    </div>
    </section>

    <section class="festival">
        <h1>This Summer in Camelot</h1>
        <p>Check out our latest attractions that will make you scream.</p>
        <div class="row">
            <div class="col">
                <h2>Attractions</h2>
                <p>Make new memories by going on all of our attractions.</p>
            </div>

            <div class="col">
                <h3>Our Events in Camelot</h3>
                <p>Check out our latest attractions coming up in this Year.</p>
            </div>

            <div class="col">
                <h3>Every week and weekend </h3>
                <p>Don't miss out our weekly promotions.</p>
            </div>
        </div>
    </section>

    
    <section class="pictures" id="themes">
        <h1>Themes in Camelot</h1>
        <p>Make new memories by going on all of our attractions.</p>
        <div class="row">
            <div class="col">
                <img src="images/attraction1.jpg" alt="Superday attraction">
                <div class="layer">
                    <h2>Farmhouse Rides</h2>
                </div>   
            </div>

            <div class="col">
                <img src="images/attraction2.jpg" alt="Special Weekend attraction">  
                <div class="layer">
                    <h2>The Forest Craze</h2>
                </div>  
            </div>

            <div class="col">
                <img src="images/attraction3.jpg" alt="Every week attraction"> 
                <div class="layer">
                    <h2>A Tour in My Engine</h2>
                </div>   
            </div>
        </div>

    </section>

    <section class="testimonials">
        <h1>What our customers think</h1>
        <p>Your online tickets for Parque Camelot.</p>
        <div class="row">
            <div class="testimonials-col">
                <img src="images/reviewer1.JPG" alt="first reviewer">
                <div>
                <p>The weekend was so crowdly we can't enjoy properly.</p>
                <h2>Reviewer 1</h2>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>

             </div>
            </div>

            <div class="testimonials-col">
                <img src="images/reviewer2.JPG" alt="Second reviewer">
                <div>
                <p>The new attraction was a the best ride ever.</p>
                <h3>Reviewer 2</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </div>

            
            </div>
        
        <div class="testimonials-col">
            <img src="images/reviewer3.jpg" alt="Third reviewer">
            <div>
            <p>Spetch less Galactica was amazin.</p>
            <h3>Reviewer 3</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            </div>

        
        </div>
        </div>
        

    </section>

    <section class="cta">
        <h1>Sign up to our newsletter!</h1>
        <p>Sign up to get the whole experience and stay up to date on all the latest news, themed seasons, offers and promotions from Parque Warner</p>
        <a href="" class="btn1"> Sign Up!</a>
    </section>
    <%- include('partials/_footer') %>
